<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<% @user.addresses.each do |a| %>
  <p><%= a.nickname %></p>
  <p><%= a.address %></p>
  <p><%= a.city %>, <%= a.state %></p>
    <p><%= a.zip %></p>
<% end %>
